<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<% if @task.completed %>
  <%# <i class="far fa-check-square"></i> %>
  <p>This task is completed</p></br>
<% else %>
  <%# <i class="far fa-square"></i> %>
  <p>This task is not completed yet<pi></br>
<% end %>

<%= link_to("Edit this task", edit_task_path(@task)) %></br>
<%= link_to "Delete this task",
            task_path(@task),
            method: :delete,
            data: { confirm: "Delete #{@task.title}?" } %></br>
<%= link_to("Back to list", tasks_path) %>
